name: Terraform Lint and Validate

on:
  push:
    paths:
      - "**.tf"
      - "**.hcl"
      - ".github/workflows/terraform-lint.yml"


jobs:
  tflint:
    name: TFLint
    runs-on: ubuntu-latest
    # strategy:
    #   matrix:
    #     module:
    #       - aws/base
    #       - aws/bootstrapping/gitops-eks-addons
    #       - stackit/base
    #       - stackit/bootstrapping/gitops-ske-addons
    #       - bws-talos/base
    #       - bws-talos/bootstrap

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v6
        with:
          tflint_version: v0.60.0
          cache: true

      - name: Show TFLint version
        run: tflint --version

      - name: Init TFLint
        run: tflint --init
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run TFLint
        run: tflint --recursive --format compact

  terraform-fmt:
    name: Terraform Format Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.1

      - name: Terraform Format Check
        run: terraform fmt -check -recursive -diff

